/* Выбираем все элементы на странице */
* {
    margin: 0;
    padding: 0;
    /* Говорим браузеру считать ширину и высоту вместе с padding и border */
    box-sizing: border-box;
}

/* Обращаемся ко всем ссылкам */
a {
    /* Убираем стандартное подчеркивание у ссылок */
    text-decoration: none;
    /* Говорим ссылке наследовать цвет от родительского элемента */
    color: inherit;
}

/* Обращаемся ко всем маркированным и нумерованным спискам */
ul, ol {
    /* Убираем стандартные маркеры и номера у списков */
    list-style: none;
}

/* Обращаемся ко всем изображениям */
img {
    /* Запрещаем картинке выходить за пределы родительского блока */
    max-width: 100%;
    /* Делаем картинку блочным элементом */
    display: block;
}